language: minimal

git:
  depth: false

before_install:
  - git fetch origin --tags
  - git describe

install:
  - make env
  - source env/conda/bin/activate sphinx-verilog-domain

stages:
    - name:
        - Build
        - Deploy

jobs:
    - stage: Build
      name: "Build"
      script:
        - make build

    - stage: Deploy
      name: "PyPI"
      install: null
      before_deploy:
        - sudo ln -sf /usr/bin/python3 /usr/bin/python
      deploy:
        provider: pypi
        username: __token__
        distributions: sdist bdist_wheel
        skip_existing: true
        edge: true
